/* Content styles */

@font-face { font-family: 'Circe-Regular';  src: local('Circe-Regular'), url('https://nomail.com.ua/files/woff/534ec7d59fae6ac015a8491928d1f159.woff') format('woff'); }

table{

	&.container{
  
		  &.first{
		  box-shadow: 0px 2px 24px rgba(138, 128, 106, 0.2);
		  border-radius: 3px;
		  background: url(../assets/img/background.png) center top no-repeat $white;
		  }
		  
		  &.last{
		  background: transparent!important;
		  }
		    
		  h1{
		  	font-family: Circe-Regular, sans-serif;
		    font-size: 42px;
		    line-height: 40px;
		    text-transform: uppercase;
		    font-weight: 700;
		    margin: 0;
		  }

	}

	&.button{

		margin: 0;

		table{

			td{
				background: none;
				border: none;
			}
		}

		&:hover table td, table.button:visited table td, table.button:active table td{
			background: none;
		}
	}

}

.logo {

	padding-bottom: 0!important;

	&.first{
  		padding-right: 36px!important;

  		img{
      		float: right;
    	}
	}

	.last{
		padding: 0!important;
	}

  }

  .melon{

	padding-bottom: 0!important;

  	img{
  		height: 60px;
  		max-width: none;
  		display: initial;
  	}

	h2{
		font-family: Circe-Regular, sans-serif;
		font-size: 40px;
		line-height: normal;
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0!important;
	}

	p{
		font-family: Arial;
		line-height: normal;
		font-size: 14px;
		text-align: center;
		margin: 0!important;
	}

	&.last{

		h2{
			text-align: left;
		}

		p{
			text-align: left;
		}
	}


  }

  .promo{
	
	padding: 0!important;

  	p{
  		font-family: Arial;
  		line-height: normal;
		font-size: 14px;
		margin: 0;
  	}
  }

  .code{

  	span{
  		font-family: Arial;
  		line-height: normal;
		font-size: 28px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		padding: 11px 20px;
		border: 1px dashed $black;
  	}

  }

  .button{

  	padding-bottom: 0!important;

  	a{
  		font-family: Arial;
	  	background: $light-green;
		border-radius: 50px!important;
		border: 1px solid $light-green!important;
		padding: 19px 46px!important;
		line-height: normal;
		font-size: 20px!important;
		font-weight: 500!important;
	}

  }

  .content{

  	padding: 0 50px!important;

  	p{
  		font-family: Arial;
  		line-height: 28px;
		font-size: 18px;
		color: $black;
		margin-bottom: 25px;
  	}

  	a{
  		text-decoration: underline;
  	}
  }

  .product{

  	padding-bottom: 0!important;

  	&.first{
  		padding-left: 50px!important;
  	}

  	&.last{
  		padding-right: 50px!important;
  	}

  	a{
  		font-family: Arial;
  		text-decoration: underline;
  		text-align: center;
  	}

  	p{
  		margin: 0;
  	}
  }

  .text{
  	padding: 0!important;

  	small{
  		font-family: Helvetica;
  		line-height: 20px;
		font-size: 14px;
		color: $small-gray;
  	}
  }

  .vk{

	padding: 0 0 0 50px!important;

	a{
		display: block;
		width: 25px;
		height: 20px;
		background: url(../assets/img/social.svg) 0 0 no-repeat;
	}
}

.facebook{

	a{
		display: block;
		width: 20px;
		height: 25px;
		background: url(../assets/img/social.svg) -45px 0 no-repeat;
	}
}

.twitter{

	a{
		display: block;
		width: 25px;
		height: 25px;
		background: url(../assets/img/social.svg) -93px 0 no-repeat;
	}
}

.instagram{

	a{
		display: block;
		width: 25px;
		height: 25px;
		background: url(../assets/img/social.svg) -138px 0 no-repeat;
	}
}

.youtube{

	a{
		display: block;
		width: 25px;
		height: 25px;
		background: url(../assets/img/social.svg) -185px 0 no-repeat;
	}
}

.ok{

	a{
		display: block;
		width: 25px;
		height: 25px;
		background: url(../assets/img/social.svg) -231px 0 no-repeat;
	}
}

	.call{

		padding-bottom: 0!important;

		p{
			margin: 0;
		}

		a{
			font-family: Arial;
			color: $light-green!important;
			line-height: 27px;
			font-size: 17px;
		}
	}

	.button-bot{

		a{
			font-family: Arial;
			line-height: normal;
			font-size: 14px;
			color: $dark-gray;
			position: relative;
		}
		
		p{
			margin: 0;
		}


		img{
			display: initial;
			position: absolute;
			left: -20px;
			top: 1px;
		}

		&.first{

			p{
				text-align: right;
			}
		}

		&.last{

			p{
				text-align: center;
			}
		}
	}